{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Home{% endblock title %}</h1>
{% endblock header %} {% block content %}
<div id = 'dropdown'>
    <form action='/submit-capital' method='POST' class='form-dropdown' id='capitalForm'>
        <select name='capital_options' id='capital'>
            <option value="">Choose a capital:</option>
            {% for capital in capitals %}
            <option value="{{ capital }}">{{ capital }}</option>
            {% endfor %}
        </select>
    </form>

    <h2 id='country_response'></h2>
    <div id='map_button'>
        <button class="colorful-button" onclick="window.location.href='/explore_map'">Explore Map</button>
    </div>

    <script>
        document.getElementById('capital').addEventListener('change', function() {
            if (this.value) {
                let formData = new FormData(document.getElementById('capitalForm'));
                
                fetch(this.form.action, {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.text()).then(data => {
                
                console.log('Form submitted successfully:', data);
                document.getElementById('country_response').innerHTML = data;
                })
                
            }
        });
    </script>   
 
</div>
{% endblock content %}
