    #search-container {
        max-width: 400px;
        margin: 0 auto;
    }
    #capital-search {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px dashed #4ecdc4;
        border-radius: 4px;
        color: #e0e0e0;
    }
    #capital-suggestions {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: none;
        max-height: 200px;
        overflow-y: auto;
        width: 100%;
        max-height: 200px;
        background-color: #2d3436;
        border: 1px solid #4ecdc4;
    }
    #capital-suggestions li {
        padding: 10px;
        cursor: pointer;
    }
    #capital-suggestions li:hover, #capital-suggestions li.selected {
        background-color: #34495e;;
    }

  
    #map {
        margin-top: 20px;
    }


    #search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    #capitalForm {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
    }


    #country_info {
        width: 100%;
        margin-bottom: 20px;
    }


    #country_table td {
        padding: 10px;
        border: 1px solid #4ecdc4;
    }

    #country_table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
 

    #country_table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    #map {
        width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    #map_button {
        width: 100%;
        text-align: center;
    }
