<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dumela{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    
    {% block styles %}   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>{% endblock styles %}

    {% block scripts %}{% endblock scripts %}
  </head>
  <body>
    <section> 
    <header>{% block header %}
      {% include("_navigation.html") %}
      {% endblock header %}</header>
        {% block content %}
        <p>No content.</p>
        {% endblock content %}
      
    </section>
  </body>
</html>